@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

* {
  font-family: "Courgette", cursive;
  box-sizing: border-box;
  color: black;
}

.container nav {
  margin-top: 30px;
}
.container .navbar-brand {
  font-size: 25px;
  color: black;
}
.container .navbar-brand Link {
  margin-top: -10px;
  color: wheat;
}

.container .navbar-brand span {
  color: rgb(255, 167, 5);
  font-weight: 600;
  font-weight: 600;
}

nav .navbar-nav {
  margin-left: 260px;
  font-size: 22px;
  text-transform: capitalize;
  width: 600px;
}
nav .navbar-nav .nav-item a {
  color: black;
  margin-left: 5px;
}

nav .navbar-nav .nav-item:hover a {
  /* border-bottom: 2px solid rgb(255, 167, 5); */
background-color: orange;
color: white;
border-radius: 30px;
font-size: 20px;
}


.navbar-nav .btn {
  background-color: rgb(255, 167, 5);
  color: white;
  border-radius: 20px;
  width: 160px;
  position: absolute;
  right: 0;
  z-index: 1;
  margin-top: 10px;
  margin-right: -10px;
  font-weight: 600;
  padding: px;
  font-size: 17px;
}

.navbar-nav .btn:hover {
  color: rgba(0, 0, 0, 0.39);
  background-color: transparent;
  border: 1px solid orange;
}
button{outline: none;}